<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{comp_name}} Competition Home Page</title>
    {% include "macros/style-import.html" ignore missing with context %}
</head>
<body>
    <!-- Include Navbar -->
    {% include "macros/navbar.html" ignore missing with context %}

    <!-- Get Flask messages -->
    {% include "macros/flask_messages.html" ignore missing with context %}

    <div class="container mt-5">
        <h2>{{comp_name}} Competition Home Page</h2>
    </div>
        
    
</body>
</html>
