<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{comp_name}} Competition</title>
    {% include "macros/style-import.html" ignore missing with context %}
    <link rel="stylesheet" href="{{ url_for('static', filename='page_content/competition/competition_page.css') }}">
</head>
<body>
    <!-- Include Navbar -->
    {% include "macros/navbar.html" ignore missing with context %}

    <!-- Get Flask messages -->
    {% include "macros/flask_messages.html" ignore missing with context %}

    <div class="body-div">
        <!-- Top section, headers, and announcements -->
        <div class="container mt-5">
            <!-- Headers -->
            <div class="d-flex justify-content-between">
                <h2 class="headers">{{comp_name}} Competition</h2>
                <a class="headers btn btn-secondary">Prompt Editor</a>
            </div><br>
            <!-- Announcements Area -->
            {% if announcements %}
            <div class="announcements">
                <h4>Announcements</h4>
                <hr>
                <ul>
                    {% for announcement in announcements %}
                    <li>{{announcement["announce_time"]}} - {{announcement["announcement"]}}</li>
                    {% endfor %}
                </ul>
            </div>
            <hr>
            {% endif %}
            <!-- Description area -->
            {% if description %}
            <p>{{description}}</p>
            {% endif %}
        </div>

        <div class="container mt-5">
            <h2 class="headers">Scoreboard</h2><br>
            <div class="search-box">
                <input type="text" id="searchInput" class="form-control" placeholder="Search scoreboard...">
            </div>
            
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Score</th>
                        <th>Rank</th>
                    </tr>
                </thead>
                <tbody id="scoreboard">
                    <!-- Users will be dynamically inserted here -->
                </tbody>
            </table>

            <nav aria-label="Page navigation example">
                <ul class="pagination">
                    <li class="page-item"><a class="page-link" href="#" id="prevPage">Previous</a></li>
                    <li class="page-item"><a class="page-link" href="#" id="nextPage">Next</a></li>
                </ul>
            </nav>
        </div>
    </div>

<!-- Store comp_id for the javascript -->
<input type="hidden" id="comp_id" value="{{competition_id}}">

<script src="{{ url_for('static', filename='page_content/competition/competition_page.js') }}"></script>
    
</body>
</html>
