.body-div {
    display: flex;
    justify-content: center;
    font-size: 1.25rem;
}
.container {
    max-width: 600px;
}
.button-div {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}
.button-class {
    align-items: center;
    text-align: center;
}
h2 {
    font-size: 2.5rem;
    align-items: center;
    text-align: center;
}

.btn {
    text-decoration: none;
    font-size: 1.4rem;
    user-select: none;
    color: white;
    background-color: #04AA6D;
    padding: 1rem 2rem;
    border-radius: 0.25rem;
    display: flex;
    align-items: center;
}
  
.btn .arrow {
    margin-left: 1rem;
    height: 0.1rem;
    width: 2.5rem;
    position: relative;
    background: white;
    transition: width 0.2s ease;
}

.btn .arrow::before,
.btn .arrow::after {
    content: "";
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    background: white;
    height: 0.1rem;
    width: 0.8rem;
}

.btn .arrow::before {
    transform: rotate(45deg);
    transform-origin: right bottom;
}

.btn .arrow::after {
    transform: rotate(-45deg);
    transform-origin: right top;
}

.btn:hover .arrow {
    width: 4rem;
}