<nav class="navbar navbar-expand-lg navbar-dark">
    <a class="navbar-brand" href="/">Home</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mr-auto">
            {% if session.get("confirmed") %}
            <!-- Display these to authenticated users -->
            <li class="nav-item">
                <a class="nav-link" href="{{url_for('account.account_page')}}" title="Account">Account</a>
            </li>
            {% if "admin" in session.get("user_roles", []) %}
            <!-- Display this to admin users -->
            <li class="nav-item">
                <a class="nav-link" href="{{url_for('admin.admin_dashboard')}}" title="Admin Dashboard">Admin Dashboard</a>
            </li>
            {% endif %}
            {% if "organizer" in session.get("user_roles", []) %}
            <!-- Display this to organizers -->
            <li class="nav-item">
                <a class="nav-link" href="{{url_for('organizer.organizer_home')}}" title="Organizer Dashboard">Organizer Dashboard</a>
            </li>
            {% endif %}
            {% endif %}
            <li class="nav-item">
                <a class="nav-link" href="{{url_for('privacy')}}" title="Privacy Policy">Privacy Policy</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{url_for('cookies')}}" title="Cookies Policy">Cookies Policy</a>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="/logout" title="Sign Out">Sign Out</a>
            </li>
        </ul>
    </div>
</nav>