h1 {
    font-size: 2rem;
    color: #333; /* Change color as needed */
    margin-bottom: 2rem; /* Add spacing below the heading */
    text-align: center; /* Center the text */
    font-family: 'Montserrat', sans-serif; /* Add Montserrat font */
    font-weight: bold;
    width: 100%; /* Take full width */
}

#api-key {
    width: 300px;
}

label {
    font-size: 1rem; /* Adjust font size as needed */
    font-family: 'Montserrat', sans-serif; /* Use the Montserrat font or your preferred font */
    /* color: ; Adjust color as needed */
    margin-bottom: 1rem; /* Add spacing below the heading */
    letter-spacing: 1px; /* Add letter-spacing for better readability */
}

.submit {
    background-color: #04AA6D;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
  }

.container {
    display: flex;
    flex-direction: column; /* Change to column layout on small screens */
    align-items: flex-start; /* Align content to top */
    justify-content: center; /* Center vertically */
    margin: 0 auto; /* Center container horizontally */
    max-width: 800px; /* Limit maximum width of the container */
  }

#promptform {
    flex-grow: 0; /* Maintain fixed size */
  }
  
  #aipromptdiv {
    flex-shrink: 1; /* Allow shrinking if needed */
  }

#promptform,
#aipromptdiv {
    display: flex; /* Use flexbox */
    flex-direction: column; /* Stack items vertically */
    align-items: center; /* Center items horizontally */
    width: 100%; /* Take full width on small screens */
    max-width: 500px; /* Limit maximum width */
}

#prompt,
#aiprompt {
    height: 300px;
    width: 300px;
    padding: 12px 10px;
    box-sizing: border-box;
    border-radius: 4px;
    resize: auto;
    overflow-y: auto;
}

#aiprompt {
    background-color: #f8f8f8;
}

#promptform {
    margin-bottom: 1rem; /* Add spacing between the two divs */
}

@media screen and (min-width: 768px) {
    .container {
      flex-direction: row; /* Switch back to row layout on larger screens */
      justify-content: center; /* Center items horizontally */
    }
  
    #promptform {
      margin-right: 1rem; /* Add spacing between the two divs */
    }
  }