<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Confirmation</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='page_content/confirmation/css/confirmation.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='global_css/stylesheet.css') }}">
</head>
<body>
    <!-- Include Navbar -->
    {% include "macros/navbar.html" ignore missing with context %}
    
    <!-- Get Flask messages -->
    {% include "macros/flask_messages.html" ignore missing with context %}

    <h1>Confirmation</h1>

    <div class="container" id="promptdiv">
        <p>Thank you for submitting your prompt for testing! Your results will be available within approximately one hour. When your results are ready, you will be sent an email. Below is the prompt that was submitted to the AI.</p>
        <br>
        
        <label for="sentprompt">Prompt Sent:</label>
        <textarea type="text" id="sentprompt" readonly>{{prompt}}</textarea>
    </div>
</body>
</html>
