<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgot Password</title>
    {% include "macros/style-import.html" ignore missing with context %}
</head>
<body>
    <!-- Include Navbar -->
    {% include "macros/navbar-privacy.html" ignore missing with context %}
    
    <!-- Get Flask messages -->
    {% include "macros/flask_messages.html" ignore missing with context %}

    <h1>Reset your password</h1>

    <p>Please enter your email address. You will be sent an email to reset your password.</p>
    <form method="post" action="forgot-password">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        <label for="email">Email:</label><br>
        <input type="text" id="email" name="email" required>
        <input type="submit" value="Send Email">
    </form>
    
    <div class="login-register">
        <a href="/login">LOGIN</a>
        <a href="/register">REGISTER</a>
    </div>
</body>
</html>
