<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Get API Key Instructions</title>
    {% include "macros/style-import.html" ignore missing with context %}
    <link rel="stylesheet" href="{{ url_for('static', filename='page_content/get_gemini_key/get_gemini_key.css') }}">
</head>
<body>
    <!-- Include Navbar -->
    {% include "macros/navbar.html" ignore missing with context %}
    
    <!-- Get Flask messages -->
    {% include "macros/flask_messages.html" ignore missing with context %}

    <h1>Instructions for Getting Your API Key</h1>

    <p>Go to: <a href="https://aistudio.google.com/app/apikey">https://aistudio.google.com/app/apikey</a></p>
    <p>This doesn't always happen, but if you are asked to "Use Google AI Studio" or "Develop in your own environment", then click the button "Get API key". This is shown below:</p>
    <img src="{{ url_for('static', filename='page_content/get_gemini_key/1-marked.png') }}">
    <p>Click on “Create API key”. You can see this in the screenshot below:</p>
    <img src="{{ url_for('static', filename='page_content/get_gemini_key/2-marked.png') }}">
    <p>Click “Create API key in new project”. You can see this in the screenshot below:</p>
    <img src="{{ url_for('static', filename='page_content/get_gemini_key/3-marked.png') }}   ">
    <p>You will be given your API key. Copy this value and save it as the "Google Gemini API Key" on your <a href="/account">account page</a>.</p>
</body>
</html>
