<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dissinformation Detection Prompt Testing</title>
    {% include "macros/style-import.html" ignore missing with context %}
    <link rel="stylesheet" href="{{ url_for('static', filename='page_content/index/index.css') }}">
</head>
<body>
    <!-- Include Navbar -->
    {% include "macros/navbar.html" ignore missing with context %}

    <!-- Get Flask messages -->
    {% include "macros/flask_messages.html" ignore missing with context %}

    <h1>Dissinformation Detection Prompt Testing</h1><br>

    <div class="container">
        <div id="promptform">
            <form method="post" action="submit-prompt">
                <label for="dataset">Select Dataset:</label><br>
                <select id="dataset" name="dataset">
                    {% for dataset in datasets %}
                        <option value="{{ dataset }}">{{ dataset }}</option>
                    {% endfor %}
                </select><br><br>
                <label for="prompt">Prompt:</label><br>
                <textarea type="text" id="prompt" name="prompt" rows="1" oninput="autoResize(this)" required></textarea><br><br>
                <label for="num-rows" id="num-rows-label">Number of rows to test (optional, max: 500):</label><br>
                <input type="number" id="num-rows" name="num-rows" min="1" max="500"><br><br>
                <input class="submit" type="submit" value="Submit">
            </form>
        </div>

        <!-- Show prompt to user -->
        <div id="aipromptdiv">
            <label for="aiprompt">Prompt that will be sent to AI:</label>
            <textarea type="text" id="aiprompt" readonly></textarea>
        </div>
    </div>

    <!-- Following script provides dataset names and max rows to javascript -->
    <script id="dataset-data" type="application/json">{{ datasets | tojson }}</script> 
    <script src="{{ url_for('static', filename='page_content/index/index.js') }}"></script>
</body>
</html>
