<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dissinformation Detection Prompt Testing</title>
</head>
<body>
    <!-- Include Navbar -->
    {% include "macros/navbar.html" ignore missing with context %}

    <h1>Dissinformation Detection Prompt Testing</h1>
    {% for message in get_flashed_messages() %}
        <p>{{ message }}</p>
    {% endfor %}
    <form method="post" action="submit-prompt">
        <label for="prompt">Prompt:</label><br>
        <input type="text" id="prompt" name="prompt" required><br><br>
        <label for="api-key">Api Key:</label><br>
        <input type="text" id="api-key" name="api-key" required><br><br>
        <label for="num-rows">Number of rows to test (optional, max: 500):</label><br>
        <input type="number" id="num-rows" name="num-rows" min="1" max="500"><br><br>
        <input type="submit" value="Submit">
    </form>
    <a href="/documents/get-key">Click here for instructions on getting your API Key</a>
</body>
</html>
