<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <h1>Sign In</h1>

    <a href="/register">Don't have an account? Create one.</a><br><br>

    {% for message in get_flashed_messages() %}
        <p>{{ message }}</p>
    {% endfor %}
    <form method="post" action="login">
        <label for="email">Email:</label><br>
        <input type="text" id="email" name="email" required><br><br>
        <label for="password">Password:</label><br>
        <input type="password" id="password" name="password" required><br><br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>
