<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='page_content/register/emailpassword.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='global_css/stylesheet.css') }}">
    <link rel="stylesheet" media="screen" href="{{ url_for('static', filename='page_content/register/stylesheet.css') }}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">
</head>
<body>
    <!-- Get Flask messages -->
    {% include "macros/flask_messages.html" ignore missing with context %}

    <div class="background">
        <div class="shape"></div>
        <div class="shape"></div>
    </div>

    <form method="post" action="register">
        <h3>Create an Account</h3>

        <label for="email">Email:</label>
        <input type="text" id="email" name="email" required>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" required>
        <label for="confirmpassword">Confirm Password:</label>
        <input type="password" id="confirmpassword" name="confirmpassword" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" required>
        <input type="submit" id="registerbutton" value="Create Account">
        
        <div class="loginarea">
            <span>Already have an account? <a href="/login">Sign In</a></span>
        </div>
    </form>

    <div id="emessage">
        <h3>Email must meet these requirements:</h3>
        <p id="validemail" class="invalid">Valid <b>email address</b></p>
        <p id="byuemail" class="invalid">A <b>BYU email address</b></p>
    </div>

    <div id="message">
        <h3>Password must contain the following:</h3>
        <p id="letter" class="invalid">A <b>lowercase</b> letter</p>
        <p id="capital" class="invalid">A <b>capital (uppercase)</b> letter</p>
        <p id="number" class="invalid">A <b>number</b></p>
        <p id="length" class="invalid">Minimum <b>8 characters</b></p>
        <p id="same" class="invalid">Passwords must <b>match</b></p>
    </div>

    <!-- Load JavaScript for Password Strength and Validation -->
    <script src="{{ url_for('static', filename='page_content/register/email.js') }}"></script>
    <script src="{{ url_for('static', filename='page_content/register/password.js') }}"></script>
</body>
</html>
