<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Confirm Delete Account</title>
    {% include "macros/style-import.html" ignore missing with context %}
    <link rel="stylesheet" href="{{ url_for('static', filename='page_content/remove_account/remove_account.css') }}">
</head>
<body>
    <!-- Include Navbar -->
    {% include "macros/navbar-privacy.html" ignore missing with context %}
    
    <!-- Get Flask messages -->
    {% include "macros/flask_messages.html" ignore missing with context %}

    <h1>Confirm Delete Account</h1>

    <form method="post" id="deleteForm">
        <label for="confirm-delete">Please type the word "<strong>delete</strong>" to confirm you want to delete your account. <span class="warning">WARNING: This action cannot be undone!</span></label><br><br>
        <input type="text" id="confirm-delete" name="confirm-delete"><br>
        <div class="button-container">
            <a href="{{ url_for('account.cancel_delete') }}" class="cancel-button button">Cancel</a>
            <input type="submit" class="delete-button button" value="Delete Account">
        </div>
    </form>

</body>
</html>
