<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password</title>
    {% include "macros/style-import.html" ignore missing with context %}
    <link rel="stylesheet" href="{{ url_for('static', filename='page_content/register/emailpassword.css') }}">
</head>
<body>
    <!-- Include Navbar -->
    {% include "macros/navbar-privacy.html" ignore missing with context %}
    
    <!-- Get Flask messages -->
    {% include "macros/flask_messages.html" ignore missing with context %}

    <h1>Reset your password</h1>

    <p>Please type and confirm your new password.</p>
    <form method="post">
        <label for="password">New Password:</label><br><br>
        <input type="password" id="password" name="password" required>
        <label for="confirmpassword">Confirm Password:</label><br><br>
        <input type="password" id="confirmpassword" name="confirmpassword" required>
        <input type="submit" value="Reset Password">
    </form>
    
    <div class="login-register">
        <a href="/login">LOGIN</a>
        <a href="/register">REGISTER</a>
    </div>

    <div id="message">
        <h3>Password must contain the following:</h3>
        <p id="letter" class="invalid">A <b>lowercase</b> letter</p>
        <p id="capital" class="invalid">A <b>capital (uppercase)</b> letter</p>
        <p id="number" class="invalid">A <b>number</b></p>
        <p id="length" class="invalid">Minimum <b>8 characters</b></p>
        <p id="same" class="invalid">Passwords must <b>match</b></p>
    </div>


    <script src="{{ url_for('static', filename='page_content/register/password.js') }}"></script>
</body>
</html>
