<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Email Sent</title>
    {% include "macros/style-import.html" ignore missing with context %}
</head>
<body>
    <!-- Get Flask messages -->
    {% include "macros/flask_messages.html" ignore missing with context %}

    <h1>Email Sent</h1>

    <p>You should receive an email shortly. It may take a few minutes for the email to appear. Make sure to check your spam folder.</p>
    
    <div class="login-register">
        <a href="/login">LOGIN</a>
        <a href="/register">REGISTER</a>
    </div>
</body>
</html>
