<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test API Key</title>
    {% include "macros/style-import.html" ignore missing with context %}
</head>
<body>
    <!-- Include Navbar -->
    {% include "macros/navbar.html" ignore missing with context %}

    <!-- Get Flask messages -->
    {% include "macros/flask_messages.html" ignore missing with context %}
    
    <h1>Test API Key</h1>

    <h2>Please enter your API key to test if your connection works.</h2>
    <form method="post" action="test-key">
        <label for="api-key">Api Key:</label><br>
        <input type="text" id="api-key" name="api-key" required><br><br>
        <input type="submit" value="Submit">
    </form>
    <a href="{{url_for('documents.get_api_key')}}">Click here for instructions on getting your API Key</a>
</body>
</html>
