<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Verify Email</title>
    {% include "macros/style-import.html" ignore missing with context %}
</head>
<body>
    <!-- Get Flask messages -->
    {% include "macros/flask_messages.html" ignore missing with context %}

    <h1>Verify Email</h1>

    <p>Your email address has been sent a verification code. It may take a few minutes for the email to appear. Make sure to check your spam folder. Provide the code to verify your account.</p>
    <form method="post" action="verify-email">
        <label for="code">Code:</label><br>
        <input type="text" id="code" name="code" required>
        <input type="submit" value="Submit">
    </form>
    <a href="/resend-verify-code">Didn't get an email? Send again.</a>
</body>
</html>
