<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{comp_name}} Prompt Editor</title>
    {% include "macros/style-import.html" ignore missing with context %}
    <link rel="stylesheet" href="{{ url_for('static', filename='page_content/challenge/prompt_editor.css') }}">
</head>
<body>
    <!-- Include Navbar -->
    {% include "macros/navbar.html" ignore missing with context %}

    <!-- Get Flask messages -->
    {% include "macros/flask_messages.html" ignore missing with context %}

    <br><h1>{{comp_name}} Prompt Editor</h1><br>

    <div class="container">
        <div id="promptform">
            <form method="post">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                <input type="hidden" id="instructions" value="{{ instructions }}">
                <label for="prompt">Prompt:</label><br>
                <textarea type="text" id="prompt" name="prompt" rows="1" oninput="autoResize(this)" required></textarea><br><br>
                <input class="submit" type="submit" value="Submit">
            </form>
        </div>

        <!-- Show prompt to user -->
        <div id="aipromptdiv">
            <label for="aiprompt">Prompt that will be sent to AI:</label>
            <textarea type="text" id="aiprompt" readonly></textarea>
        </div>
    </div>

    <!-- Following script provides dataset names and max rows to javascript -->
    <script id="dataset-data" type="application/json">{{ datasets | tojson }}</script> 
    <script src="{{ url_for('static', filename='page_content/challenge/prompt_editor.js') }}"></script>
</body>
</html>
